/* GENERAL */

:root {
  --lturn: 1deg;
  --rturn: -1deg;
  --persp: 50px;
  --grad2: transparent;
  --grad1: #002;
}

html {
  overflow-y: hidden;
  overflow-x: auto;
}

body {
  position: absolute;
  display: block;
  /*background: url(../img/mars.jpg) no-repeat 0 0;
  */background-color: #000;
  background-size: cover;
  color: #BBB;
  font-family: monospace;
  font-weight: 100;
  letter-spacing: 2px;
  width: 80%;
  height:80%;
  line-height: 80%;
  top: 7%;
  left: 5%;
  white-space: nowrap;
  vertical-align: top;

}

.panel {
  position: relative;
  display: inline-block;
  /*border: 1px solid #BBB;
  border-radius: 5px;*/
  height:100%;
  vertical-align: top;
  perspective: var(--persp);

}

.module {
  position: relative;
  max-height:45%;
  min-height: 24%;
  width: 100%;
  border: 1px solid #AAA;
  border-radius: 4px;
  text-align: top;
  padding-top: 5px;
  text-indent: 10px;
  background-color: rgba(255, 255, 255, 0);
}

.divider {
  position: relative;
  height: 1px;
  width: 90%;
  left: 5%;
  margin: 2% 0% 2% 0%;
  background-color: #66F;
}

/* LEFT PANEL */
#left {
  left: 0px;
  width:25%;
  min-width: 400px;
}

#left .module {
  -webkit-transform: rotateY(var(--lturn));
  transform: rotateY(var(--lturn));
  background: -webkit-linear-gradient(left, var(--grad1), var(--grad2)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, var(--grad1), var(--grad2)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, var(--grad1), var(--grad2)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, var(--grad1), var(--grad2)); /* Standard syntax */
}

#left .divider {
  -webkit-transform: rotateY(var(--lturn));
  transform: rotateY(var(--lturn));
}

#GPS {
  height: 50%;
}

#logo {
  text-align: center;
}
.logo {
  position: relative;
  height: 220px;
  width: auto;
}

/* MIDDLE PANEL */
#middle {
  top: 0%;
  width: 49%;
  min-width: 800px;
  border-left: 1px solid #AAA;
  border-right: 1px solid #AAA;
  text-align: center;
}

#mainfeed {
  position: relative;
  top: 0%;
  border: 1px solid #AAA;
  border-radius: 500px;
  width:90%;
  height: 65%;
}

/* TWO SUBFEEDS */
.subfeed {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  width: 40%;
  height: 30%;
  border: 1px solid #AAA;
  border-radius: 200px;
}

/* RIGHT PANEL */
#right {
  width:25%;
  min-width: 400px;
}

#right .module {
  -webkit-transform: rotateY(var(--rturn));
  transform: rotateY(var(--rturn));
  background: -webkit-linear-gradient(left, var(--grad2), var(--grad1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, var(--grad2), var(--grad1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, var(--grad2), var(--grad1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, var(--grad2), var(--grad1)); /* Standard syntax */
}

#right .divider {
  -webkit-transform: rotateY(var(--rturn));
  transform: rotateY(var(--rturn));
}

#drive {
  padding: 0 0 0 0;
  vertical-align: middle;
  height: 100px;
}

.drive_stat {
  position: relative;
  display: inline-block;
  left: 0px;
  margin: 0 0 0 0;
  border: 0px solid white;
  width: 50%;
  height: 100%;
  line-height: 120px;
  vertical-align: middle;
  font-size:100px
}

#mphunits {
  font-size: 20px;
}

.distance_stat {
  position: relative;
  display: block;
  line-height: 60px;
  height:50%;
  width:100%;
  border: 0px solid red;
  font-size: 30px;
  vertical-align: middle;
}

.dunits {
  font-size: 10px;
}

#timer{
  text-align: center;
}

.time {
  margin-top:13%;
  position: relative;
  line-height: 100%;
	display: inline-block;
  font-size: 80px;
  letter-spacing: -5px;
  text-shadow: 1px 1px 10px #FFF;
}

.clockdivider {
  display: inline-block;
  font-size: 40px;
  color: #66A;
  width:auto;
  border: 1px solid white;
}

.time-buttondiv {
  position: relative;
  width: 100%;
  padding-top: 10px;  
}

.time-button {
  text-align: center;
  background-color: #00bbff;
  border-radius: 5px;
}

/*Bottom Panel for layout change */
.bottom {
  position: relative;
  margin: auto;
  padding: 10px;
  width: 1600px; /*Change from hardcode*/
  top: 5%; 
  text-align: center;
}

.button {
  border-radius: 5px;
  margin: auto;
  background-color: #00d8ff; 
}

.button:hover {
  background-color: #0061ff;
  color: white;
}
